openapi: 3.0.3
info:
  title: Orion Safe API
  description: |
    Programmatic access to Orion Safe multi-signature treasury platform on Stellar.
    
    ## Authentication
    All endpoints require an API key passed in the `X-API-Key` header.
    
    ## Fees
    Certain operations (vault creation, some transactions) require payment.
    Fees are deducted from your prepaid API balance or charged per-request.
    
    ## Rate Limits
    - Free tier: 100 requests/day
    - Pro tier: 10,000 requests/day
    - Enterprise: Unlimited
  version: 1.0.0
  contact:
    name: Orion Safe Support
    email: api@orionsafe.io
    url: https://orionsafe.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.orionsafe.io/v1
    description: Production
  - url: https://api-testnet.orionsafe.io/v1
    description: Testnet

tags:
  - name: Authentication
    description: API key management
  - name: Vaults
    description: Vault creation and management
  - name: Members
    description: Signer and role management
  - name: Proposals
    description: Transaction proposals
  - name: Locks
    description: Time-locks and vesting
  - name: Webhooks
    description: Real-time notifications

security:
  - ApiKeyAuth: []

paths:
  # ============== AUTHENTICATION ==============
  /auth/keys:
    post:
      tags: [Authentication]
      summary: Create API Key
      description: Generate a new API key for your account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet_address, signature]
              properties:
                wallet_address:
                  type: string
                  description: Stellar wallet address
                  example: "GABCD..."
                signature:
                  type: string
                  description: Signed message proving wallet ownership
                name:
                  type: string
                  description: Optional name for this API key
                  example: "Production Key"
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
    
    get:
      tags: [Authentication]
      summary: List API Keys
      description: List all API keys for your account
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyInfo'

  /auth/keys/{keyId}:
    delete:
      tags: [Authentication]
      summary: Revoke API Key
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Key revoked

  /auth/balance:
    get:
      tags: [Authentication]
      summary: Get API Balance
      description: Check your prepaid API credit balance
      responses:
        '200':
          description: Current balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_xlm:
                    type: string
                    example: "150.0000000"
                  balance_usd:
                    type: string
                    example: "15.00"
                  usage_this_month:
                    type: integer
                    example: 1250

  # ============== VAULTS ==============
  /vaults:
    get:
      tags: [Vaults]
      summary: List Vaults
      description: List all vaults accessible by your API key
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [owner, signer, any]
          description: Filter by role
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of vaults
          content:
            application/json:
              schema:
                type: object
                properties:
                  vaults:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vault'
                  total:
                    type: integer
                  has_more:
                    type: boolean

    post:
      tags: [Vaults]
      summary: Create Vault
      description: |
        Create a new multi-sig vault.
        
        **Fee:** 15 XLM (deducted from API balance)
        
        This includes:
        - 10 XLM vault creation fee (on-chain)
        - 5 XLM API service fee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultRequest'
      responses:
        '201':
          description: Vault created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultResponse'
        '402':
          description: Insufficient API balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "insufficient_balance"
                message: "API balance too low. Required: 15 XLM, Available: 8.5 XLM"
                required: "15.0000000"
                available: "8.5000000"
        '400':
          $ref: '#/components/responses/BadRequest'

  /vaults/{vaultAddress}:
    get:
      tags: [Vaults]
      summary: Get Vault Details
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      responses:
        '200':
          description: Vault details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  /vaults/{vaultAddress}/balances:
    get:
      tags: [Vaults]
      summary: Get Vault Balances
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      responses:
        '200':
          description: Token balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenBalance'

  # ============== MEMBERS ==============
  /vaults/{vaultAddress}/members:
    get:
      tags: [Members]
      summary: List Vault Members
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'

    post:
      tags: [Members]
      summary: Add Member
      description: |
        Create a proposal to add a new signer to the vault.
        Requires approval from existing signers.
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, role]
              properties:
                address:
                  type: string
                  description: Stellar address of new member
                  example: "GDEF..."
                role:
                  type: string
                  enum: [SuperAdmin, Admin, Executor, Viewer]
                  example: "Executor"
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /vaults/{vaultAddress}/members/{memberAddress}:
    delete:
      tags: [Members]
      summary: Remove Member
      description: Create a proposal to remove a signer
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - name: memberAddress
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Removal proposal created

    patch:
      tags: [Members]
      summary: Update Member Role
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - name: memberAddress
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [SuperAdmin, Admin, Executor, Viewer]
      responses:
        '200':
          description: Role updated

  # ============== PROPOSALS ==============
  /vaults/{vaultAddress}/proposals:
    get:
      tags: [Proposals]
      summary: List Proposals
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, executed, rejected, cancelled]
        - name: type
          in: query
          schema:
            type: string
            enum: [transfer, time_lock, vesting]
      responses:
        '200':
          description: List of proposals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Proposal'

    post:
      tags: [Proposals]
      summary: Create Transfer Proposal
      description: Propose a token transfer from the vault
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequest'
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /vaults/{vaultAddress}/proposals/{proposalId}:
    get:
      tags: [Proposals]
      summary: Get Proposal Details
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - $ref: '#/components/parameters/ProposalId'
      responses:
        '200':
          description: Proposal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalDetails'

  /vaults/{vaultAddress}/proposals/{proposalId}/approve:
    post:
      tags: [Proposals]
      summary: Approve Proposal
      description: |
        Approve a pending proposal.
        Requires signing with an authorized wallet.
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - $ref: '#/components/parameters/ProposalId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signer_address, signature]
              properties:
                signer_address:
                  type: string
                signature:
                  type: string
                  description: Signed approval message
      responses:
        '200':
          description: Approval recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /vaults/{vaultAddress}/proposals/{proposalId}/execute:
    post:
      tags: [Proposals]
      summary: Execute Proposal
      description: Execute a proposal that has met the approval threshold
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - $ref: '#/components/parameters/ProposalId'
      responses:
        '200':
          description: Proposal executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "executed"
                  transaction_hash:
                    type: string
                    example: "abc123..."

  # ============== LOCKS ==============
  /vaults/{vaultAddress}/locks:
    get:
      tags: [Locks]
      summary: List Time Locks & Vesting
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - name: type
          in: query
          schema:
            type: string
            enum: [time_lock, vesting]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, claimable, claimed, cancelled]
      responses:
        '200':
          description: List of locks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lock'

    post:
      tags: [Locks]
      summary: Create Time Lock
      description: Create a proposal to lock tokens until a specific date
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTimeLockRequest'
      responses:
        '201':
          description: Lock proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /vaults/{vaultAddress}/vesting:
    post:
      tags: [Locks]
      summary: Create Vesting Schedule
      description: Create a proposal for a vesting schedule with cliff
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVestingRequest'
      responses:
        '201':
          description: Vesting proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /vaults/{vaultAddress}/locks/bulk:
    post:
      tags: [Locks]
      summary: Bulk Create Locks
      description: |
        Create multiple time locks or vesting schedules at once.
        
        **Fee:** 0.5 XLM per lock (API service fee)
        
        Maximum 50 locks per request.
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [locks]
              properties:
                locks:
                  type: array
                  maxItems: 50
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/CreateTimeLockRequest'
                      - $ref: '#/components/schemas/CreateVestingRequest'
      responses:
        '201':
          description: Bulk lock proposals created
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  fee_charged:
                    type: string
                    example: "25.0000000"

  /vaults/{vaultAddress}/locks/{lockId}/claim:
    post:
      tags: [Locks]
      summary: Claim Locked Tokens
      description: Claim tokens from a lock (beneficiary only)
      parameters:
        - $ref: '#/components/parameters/VaultAddress'
        - name: lockId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [beneficiary_address, signature]
              properties:
                beneficiary_address:
                  type: string
                signature:
                  type: string
      responses:
        '200':
          description: Tokens claimed
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_claimed:
                    type: string
                  transaction_hash:
                    type: string

  # ============== WEBHOOKS ==============
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List Webhooks
      responses:
        '200':
          description: List of configured webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

    post:
      tags: [Webhooks]
      summary: Create Webhook
      description: Subscribe to real-time events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  example: "https://yourapp.com/webhooks/orion"
                events:
                  type: array
                  items:
                    type: string
                    enum:
                      - proposal.created
                      - proposal.approved
                      - proposal.executed
                      - proposal.rejected
                      - lock.created
                      - lock.claimed
                      - lock.cancelled
                      - member.added
                      - member.removed
                      - vault.created
                secret:
                  type: string
                  description: Optional secret for webhook signature verification
                vault_filter:
                  type: array
                  items:
                    type: string
                  description: Only receive events for specific vaults
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /webhooks/{webhookId}:
    delete:
      tags: [Webhooks]
      summary: Delete Webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted

# ============== COMPONENTS ==============
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    VaultAddress:
      name: vaultAddress
      in: path
      required: true
      schema:
        type: string
      description: Vault contract address (C...)
      example: "CABCD..."

    ProposalId:
      name: proposalId
      in: path
      required: true
      schema:
        type: integer
      description: Proposal ID
      example: 42

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "invalid_request"
        message:
          type: string
          example: "Missing required field: name"
        details:
          type: object

    ApiKey:
      type: object
      properties:
        key:
          type: string
          description: The API key (only shown once)
          example: "os_live_abc123..."
        key_id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        wallet_address:
          type: string

    ApiKeyInfo:
      type: object
      properties:
        key_id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        last_used:
          type: string
          format: date-time
        prefix:
          type: string
          description: First 8 characters of the key
          example: "os_live_"

    CreateVaultRequest:
      type: object
      required: [name, signers, threshold, creator_address, signature]
      properties:
        name:
          type: string
          maxLength: 32
          example: "Treasury Vault"
        signers:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
          example: ["GABC...", "GDEF..."]
        threshold:
          type: integer
          minimum: 1
          maximum: 10
          example: 2
        creator_address:
          type: string
          description: Wallet address of the vault creator
        signature:
          type: string
          description: Signed message proving creator owns the wallet
        signer_roles:
          type: object
          additionalProperties:
            type: string
            enum: [SuperAdmin, Admin, Executor, Viewer]
          description: Optional role assignments (default is SuperAdmin for creator, Executor for others)
          example:
            "GABC...": "SuperAdmin"
            "GDEF...": "Admin"

    CreateVaultResponse:
      type: object
      properties:
        vault_address:
          type: string
          example: "CXYZ..."
        name:
          type: string
        signers:
          type: array
          items:
            type: string
        threshold:
          type: integer
        transaction_hash:
          type: string
        fee_charged:
          type: string
          example: "15.0000000"
        created_at:
          type: string
          format: date-time

    Vault:
      type: object
      properties:
        address:
          type: string
        name:
          type: string
        threshold:
          type: integer
        signer_count:
          type: integer
        created_at:
          type: string
          format: date-time

    VaultDetails:
      allOf:
        - $ref: '#/components/schemas/Vault'
        - type: object
          properties:
            signers:
              type: array
              items:
                $ref: '#/components/schemas/Member'
            pending_proposals:
              type: integer
            total_proposals:
              type: integer
            active_locks:
              type: integer
            balances:
              type: array
              items:
                $ref: '#/components/schemas/TokenBalance'

    Member:
      type: object
      properties:
        address:
          type: string
        role:
          type: string
          enum: [SuperAdmin, Admin, Executor, Viewer]
        added_at:
          type: string
          format: date-time

    TokenBalance:
      type: object
      properties:
        token:
          type: string
          description: Token contract address or "native" for XLM
        symbol:
          type: string
          example: "USDC"
        balance:
          type: string
          example: "10000.0000000"
        decimals:
          type: integer
          example: 7

    Proposal:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [transfer, time_lock, vesting, add_signer, remove_signer, set_threshold]
        status:
          type: string
          enum: [pending, approved, executed, rejected, cancelled]
        proposer:
          type: string
        approvals:
          type: array
          items:
            type: string
        rejections:
          type: array
          items:
            type: string
        threshold:
          type: integer
        created_at:
          type: string
          format: date-time

    ProposalDetails:
      allOf:
        - $ref: '#/components/schemas/Proposal'
        - type: object
          properties:
            token:
              type: string
            amount:
              type: string
            recipient:
              type: string
            unlock_time:
              type: string
              format: date-time
            cliff_time:
              type: string
              format: date-time
            end_time:
              type: string
              format: date-time
            revocable:
              type: boolean
            description:
              type: string

    CreateTransferRequest:
      type: object
      required: [token, amount, recipient, proposer_address, signature]
      properties:
        token:
          type: string
          description: Token contract address or "native" for XLM
          example: "CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA"
        amount:
          type: string
          example: "1000.00"
        recipient:
          type: string
          example: "GDEF..."
        memo:
          type: string
          maxLength: 256
        proposer_address:
          type: string
        signature:
          type: string

    CreateTimeLockRequest:
      type: object
      required: [token, amount, beneficiary, unlock_time, proposer_address, signature]
      properties:
        token:
          type: string
        amount:
          type: string
        beneficiary:
          type: string
        unlock_time:
          type: string
          format: date-time
        revocable:
          type: boolean
          default: true
        description:
          type: string
        proposer_address:
          type: string
        signature:
          type: string

    CreateVestingRequest:
      type: object
      required: [token, amount, beneficiary, cliff_time, end_time, proposer_address, signature]
      properties:
        token:
          type: string
        amount:
          type: string
        beneficiary:
          type: string
        cliff_time:
          type: string
          format: date-time
          description: When the cliff ends and first tokens vest
        end_time:
          type: string
          format: date-time
          description: When 100% is vested
        release_interval:
          type: integer
          description: Seconds between vesting releases (default continuous)
          example: 86400
        revocable:
          type: boolean
          default: true
        description:
          type: string
        proposer_address:
          type: string
        signature:
          type: string

    Lock:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [time_lock, vesting]
        token:
          type: string
        total_amount:
          type: string
        released_amount:
          type: string
        claimable_amount:
          type: string
        beneficiary:
          type: string
        unlock_time:
          type: string
          format: date-time
        cliff_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        revocable:
          type: boolean
        status:
          type: string
          enum: [active, claimable, fully_claimed, cancelled]
        created_at:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
        vault_filter:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        last_triggered:
          type: string
          format: date-time
